
  <nb-layout center>
      <nb-layout-column>
            <nb-card>
                <nb-card-header class="text-center">
                  <h5>register</h5>
                </nb-card-header>
                <nb-card-body [formGroup]="signUpForm">
                    <div
                      class="row form-group justify-content-center text-center"
                      formGroupName="name"
                    >
                      <div class="col-4">
                        <label for="firstName"
                          >{{ "firstName" | translate }}
                        </label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="firstName"
                        />
                      </div>
                      <div class="col-4">
                        <label for="lastName">{{ "lastName" | translate }}</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="lastName"
                        />
                      </div>
          
                      <div
                        class="mt-2 col-12 d-flex flex-column justify-content-center"
                        *ngIf="signUpForm.get('name').invalid"
                      >
                        <span
                          class="mb-1"
                          *ngIf="
                            !!(
                              signUpForm.get('name.firstName').errors?.required ||
                              signUpForm.get('name.lastName').errors?.required
                            ) &&
                            (signUpForm.get('name.firstName').touched &&
                              signUpForm.get('name.lastName').touched)
                          "
                          class="h6 warning mr-2 mb-1"
                          >{{ "validation.nameIsRequired" | translate }}
                        </span>
          
                        <span
                          *ngIf="
                            !!(
                              signUpForm.get('name.firstName').errors?.minlength ||
                              signUpForm.get('name.firstName').errors?.maxlength ||
                              (signUpForm.get('name.lastName').errors?.minlength ||
                                signUpForm.get('name.lastName').errors?.maxlength)
                            ) &&
                            (signUpForm.get('name.firstName').touched ||
                              signUpForm.get('name.firstName').touched)
                          "
                          class="h6 mr-2"
                          >{{ "validation.nameCondtion" | translate }}
                        </span>
                      </div>
                    </div>
          
                    <div class="row form-group  justify-content-center text-center">
                      <div class="col-8">
                        <label for="email">{{ "email" | translate }}</label>
                        <input
                          type="email"
                          class="form-control form-control-sm"
                          formControlName="email"
                        />
                      </div>
                      <div class="mt-2 col-12 d-flex justify-content-center flex-column">
                        <span
                          class="mb-2"
                          *ngIf="
                            !!signUpForm.get('email').errors?.required &&
                            signUpForm.get('email').touched
                          "
                          class="h6"
                        >
                          {{ "validation.emailIsRequired" | translate }}
                        </span>
          
                        <span
                          *ngIf="
                            !!signUpForm.get('email').errors?.email &&
                            signUpForm.get('email').touched
                          "
                          class="h6"
                        >
                          {{ "validation.invalidEmail" | translate }}
                        </span>
          
                        <span
                          *ngIf="
                            !!signUpForm.get('email').errors?.emailIsUsed &&
                            signUpForm.get('email').touched
                          "
                          class="h6"
                        >
                          {{ "validation.emailIsAlreadyUsed" | translate }}
                        </span>
                      </div>
                    </div>
                    <div class="" formGroupName="Password">
                      <div class="row form-group  justify-content-center text-center">
                        <div class="col-8">
                          <label for="password">{{
                            "password" | translate
                          }}</label>
                          <input
                            type="password"
                            class="form-control form-control-sm"
                            formControlName="password"
                          />
                        </div>
                        <div
                          class="mt-2 col-12 d-flex justify-content-center flex-column"
                        >
                          <span
                            *ngIf="
                              !!signUpForm.get('Password.password').errors?.required &&
                              signUpForm.get('Password.password').touched
                            "
                            class="h6"
                          >
                            {{ "validation.passwordIsRequired" | translate }}
                          </span>
          
                          <span
                            *ngIf="
                              !!signUpForm.get('Password.password').errors?.pattern &&
                              signUpForm.get('Password.password').touched
                            "
                            class="h6"
                          >
                            {{ "validation.passwordCondtion" | translate }}
                          </span>
                        </div>
                      </div>
                      <div class="row form-group justify-content-center text-center">
                        <div class="col-8">
                          <label for="password">{{
                            "confirmPassword" | translate
                          }}</label>
                          <input
                            type="password"
                            class="form-control form-control-sm"
                            formControlName="confirmPassword"
                          />
                        </div>
                        <div
                          class="mt-2 col-12 d-flex justify-content-center flex-column"
                        >
                          <span
                            *ngIf="
                              !!signUpForm.get('Password.confirmPassword').errors
                                ?.required &&
                              signUpForm.get('Password.confirmPassword').touched
                            "
                            class="h6 mb-1"
                          >
                            {{ "validation.ConfirmPasswordIsRequired" | translate }}
                          </span>
          
                          <span
                            *ngIf="
                              !!signUpForm.get('Password').errors?.invalid &&
                              signUpForm.get('Password').touched &&
                              signUpForm.get('Password.password').valid &&
                              signUpForm.get('Password.confirmPassword').valid
                            "
                            class="h6"
                          >
                            {{ "validation.PasswordDoesNotMatch" | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row form-group justify-content-center text-center">
                      <div class="col-4">
                        <label for="mobileNumber">{{
                          "mobileNumber" | translate
                        }}</label>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          formControlName="mobileNumber"
                        />
                      </div>
                    </div> -->
          
                    <div class="row form-group justify-content-center text-center">
                      <div class="col-8">
                        <nb-select placeholder="select a section" formControlName="role">
                          <nb-option value="1">first section</nb-option>
                          <nb-option value="2">section section</nb-option>
                          <nb-option value="3">third section</nb-option>
                          <nb-option value="4">forth section</nb-option>
                        </nb-select>
                      </div>
                      <div class="mt-2 col-12 d-flex justify-content-center flex-column">
                        <span
                          class="mb-2"
                          *ngIf="
                            !!signUpForm.get('role').errors?.required &&
                            signUpForm.get('role').touched
                          "
                          class="h6"
                        >
                          {{ "validation.roleIsRequired" | translate }}
                        </span>
                      </div>
                    </div>
                  </nb-card-body>
                <nb-card-footer class="text-center">
                  <button nbButton (click) = "onSubmit()" [disabled]='!signUpForm.valid'>register</button>
                </nb-card-footer>
            </nb-card>
      </nb-layout-column>
    </nb-layout>