
<nb-card>
    <nb-card-header>
        orders management
    </nb-card-header>
    <nb-card-header>
        <app-table [data] = 'data' [settings]='settings' *ngIf="display"></app-table>
    </nb-card-header>
</nb-card>
