<nb-card>
  <nb-card-header>
    sections
  </nb-card-header>
    <nb-card-body>

        <!-- *ngIf="displayTabs;else noSec" -->
      <nb-tabset>
        <nb-tab *ngFor="let section of sections;let i = index" [tabTitle]="section.sectionName">          
          <app-table [data] = 'section.contacts' [settings] = 'settings' [sectionId] = 'i'></app-table>
        </nb-tab>
      </nb-tabset>

      <ng-template #noSec>
        there are no sections
      </ng-template>
      
    </nb-card-body>
  </nb-card>

  <ng-template #mergeReff let-c="close" let-d="dismiss">
      <div class="modal-header" [lang]="lang">
        <h6 class="modal-title modal-body__text">{{"merge contacts" | translate | uppercase}}</h6>
        <button type="button" class="close" aria-label="Close" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center" [lang]="lang">
        <ng-container *ngFor="let item of mergedContacts">
            <ul class="list list-group list-group-splush mx-2">
               <ng-container *ngFor="let prop of item | keyvalue">
                  <li class="list-group-item" *ngIf="prop.key == 'first_name' || prop.key == 'last_name' || prop.key =='mobile' || prop.key == 'address'">
                    <nb-checkbox 
                    status="primary" 
                    (checkedChange) = "addMergedValue($event,prop.key,prop.value)"></nb-checkbox>
                    {{prop.value}}
                  </li>
              </ng-container>
            </ul>
        </ng-container>
      </div>
      <ul class="list list-group list-group-splush m-2" *ngIf="mergedContacts.length!=0">
          <li class="list-group-item">
              first name :{{mergedObject.first_name}}
          </li>
          <li class="list-group-item">
              last name  :{{mergedObject.last_name}}
          </li>
          <li class="list-group-item">
              mobile : {{mergedObject.mobile}}
          </li>
          <li class="list-group-item">
              address : {{mergedObject.address}}
          </li>
      </ul>
      <div class="modal-footer" [lang]="lang">
          <button nbButton type="button" aria-label="Close" (click)="c('ok')" [disabled] = 'mergedContacts.length==0'>
            merge
          </button>
      </div>
    </ng-template>
  