<div class="container scroll">
  <div class="d-flex justify-cotent-left mb-3">
    <div *ngIf="defaultActionsStatus?.add">
      <button nbButton class="mx-2" (click) = "add()"> Add </button>
    </div>
    <div *ngIf="defaultActionsStatus?.merge">
        <button nbButton class="mx-2" (click) = "merge()"> Merge </button>
    </div>
    <div *ngIf="defaultActionsStatus?.export">
        <button nbButton> export </button>
    </div>
  </div>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-inverse">
    <tr class="table-row">
      <th *ngIf="defaultActionsStatus?.merge"></th>
      <th 
      *ngFor="let column of columnsTitles" 
      [ngClass]="classes"
      class="table-title"
      style="white-space: nowrap"
      >
        {{column}}
      </th>
      <th *ngIf="defaultActionsStatus?.edit">
        {{'edit'}}
      </th>
      <th *ngIf="defaultActionsStatus?.delete">
        {{'delete'}}
      </th>  
      <th *ngFor="let custom of customActions">
        {{custom['title']}}
      </th>
    </tr>
    <tr [formGroup]="filters" *ngIf="settings.filters" >
        <td *ngIf="defaultActionsStatus?.merge"></td>
        <td *ngFor="let column of columnsNames" class="filters-td">
          <input 
          [type] ="columns[column]?.type"
          [placeholder]="columns[column].title"
          class="form-control filters"
          [ngClass]="columns[column]?.classes"
          [formControlName]="column"
          >
        </td>
        <th *ngIf="defaultActionsStatus?.edit" (click) = 'editAction(i)'>
        </th>
        <th *ngIf="defaultActionsStatus?.delete" (click) = 'deleteAction(i)'>
        </th>  
        <td *ngFor="let custom of customActions">
        </td>
    </tr>
    </thead>
    <!-- [nbSpinner] = "loading" -->
    <tbody class="ok" >
      <tr  *ngFor="let row of Data; let i = index" class="table-tr" >
        <td *ngIf="defaultActionsStatus?.merge" [formGroup]="selectsForms" class="d-flex justify-content-center align-items-center">
          <nb-checkbox status="primary" [formControlName]="i"></nb-checkbox>
        </td>
        <td *ngFor="let column of columnsNames" class="table-td" (click) = "selectedRow(i)">
          <ng-container *ngIf="columns[column]?.condition?.status;else normal;">
            <span *ngIf="row[column] == '1'">
              {{columns[column]?.condition?.true}}
            </span>
            <span *ngIf="row[column] == '0'">
              {{columns[column]?.condition?.false}}
            </span>
          </ng-container>
          <ng-template #normal>
            <span>{{row[column]}} </span>
          </ng-template>
          
        </td>
        <td *ngIf="defaultActionsStatus?.edit">
          <div class="d-flex align-items-center justify-content-center" (click) = "edit(i)">
            <nb-icon *ngIf="row[custom?.disabled?.propName] !=0" icon="edit-2-outline"></nb-icon>
          </div>
        </td>
        <td *ngIf="defaultActionsStatus?.delete">
          <div class="d-flex align-items-center justify-content-center" (click) = "delete(i)">
            <nb-icon *ngIf="row[custom?.disabled?.propName] !=0" icon="trash-2-outline"></nb-icon>
          </div>
        </td>  
        <td *ngFor="let custom of customActions">
          <div class="d-flex align-items-center justify-content-center" (click) = "actions(i,custom)">
            <nb-icon *ngIf="row[custom?.disabled?.propName] !=0" [icon]="custom['icon']"></nb-icon>
          </div>
        </td>
      </tr>
    </tbody>
</table>
</div>
<div class="col-sm-12 my-2" *ngIf="displayPagination">
    <ngb-pagination
    size="lg"
    class="d-flex justify-content-center"
    [(page)]="pagination.page"
    [maxSize]="pagination.maxSize"
    [pageSize]="pagination.pageSize"
    (pageChange)="pageChange(pagination.page)"
    [collectionSize]="pagination.collectionSize"></ngb-pagination>
</div>
