.table {
    .table-title {
        color:#181818;
        font-size: 14px;
    }

    .form-control {
        font-weight: 400;
    }

    td {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        padding: 0.875rem 1.25rem;
        color: #181818
    }

    tr {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        color: #181818;
    }

    // tbody {
    //     tr {
    //         &:nth-child(even) {
    //             background-color: black;
    //         }
    //     }
    // }

    .filters {
        line-height:1.25;
        padding: .375em .75em;
    }

    .filters-td {
        padding: 0.375rem 0.5rem;
    }
    
}

.scroll{
    overflow-x: scroll;
}
/deep/ .nb-theme-corporate nb-card-body ::-webkit-scrollbar {
    cursor: pointer;
    height: 13px !important;
}