<nb-card class="w-100">
  <nb-card-header>
      <span>roles management</span>
  </nb-card-header>
  <nb-card-body>
      <div>
           <router-outlet></router-outlet>
      </div>
  </nb-card-body>
</nb-card>
