
<nb-layout-column >
        <nb-card  *ngIf="displaying">
            <nb-card-header class="text-center">
            <h5>add user</h5>
            </nb-card-header>
            <nb-card-body [formGroup]="signUpForm">
                <div
                class="row form-group justify-content-center text-center"
                formGroupName="name"
                >
                <div class="col-8">
                    <label for="name"
                    >{{ "name" | translate }}
                    </label>
                    <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="name"
                    />
                </div>
    
                <div
                    class="mt-2 col-12 d-flex flex-column justify-content-center"
                    *ngIf="signUpForm.get('name').invalid"
                >
                    <span
                    class="mb-1"
                    *ngIf="
                        !!(
                        signUpForm.get('name.name').errors?.required
                        ) &&
                        (signUpForm.get('name.name').touched &&
                        signUpForm.get('name.name').touched)
                    "

                    >{{ "name Is Required" | translate }}
                    </span>
    
                    <span
                    *ngIf="
                        !!(
                        signUpForm.get('name.name').errors?.minlength 
                        ||
                        signUpForm.get('name.name').touched)
                    "

                    >{{ "name Condtion" | translate }}
                    </span>
                </div>
                </div>
    
                <div class="row form-group  justify-content-center text-center">
                <div class="col-8">
                    <label for="email">{{ "email" | translate }}</label>
                    <input
                    type="email"
                    class="form-control form-control-sm"
                    formControlName="email"
                    />
                </div>
                <div class="mt-2 col-12 d-flex justify-content-center flex-column">
                    <span
                    class="mb-2"
                    *ngIf="
                        !!signUpForm.get('email').errors?.required &&
                        signUpForm.get('email').touched
                    "

                    >
                    {{ "validation.email Is Required" | translate }}
                    </span>
    
                    <span
                    *ngIf="
                        !!signUpForm.get('email').errors?.email &&
                        signUpForm.get('email').touched
                    "

                    >
                    {{ "invalid Email" | translate }}
                    </span>
    
                    <span
                    *ngIf="
                        !!signUpForm.get('email').errors?.emailIsUsed &&
                        signUpForm.get('email').touched
                    "

                    >
                    {{ "email Is Already Used" | translate }}
                    </span>
                </div>
                </div>
                <div class="" formGroupName="Password">
                <div class="row form-group  justify-content-center text-center">
                    <div class="col-8">
                    <label for="password">{{
                        "password" | translate
                    }}</label>
                    <input
                        type="password"
                        class="form-control form-control-sm"
                        formControlName="password"
                    />
                    </div>
                    <div
                    class="mt-2 col-12 d-flex justify-content-center flex-column"
                    >
                    <span
                        *ngIf="
                        !!signUpForm.get('Password.password').errors?.required &&
                        signUpForm.get('Password.password').touched
                        "

                    >
                        {{ "validation.passwordIsRequired" | translate }}
                    </span>
    
                    <span
                        *ngIf="
                        !!signUpForm.get('Password.password').errors?.pattern &&
                        signUpForm.get('Password.password').touched
                        "
                    >
                        {{ "validation.password Condtion" | translate }}
                    </span>
                    </div>
                </div>
                <div class="row form-group justify-content-center text-center">
                    <div class="col-8">
                    <label for="password">{{
                        "confirm Password" | translate
                    }}</label>
                    <input
                        type="password"
                        class="form-control form-control-sm"
                        formControlName="confirmPassword"
                    />
                    </div>
                    <div
                    class="mt-2 col-12 d-flex justify-content-center flex-column"
                    >
                    <span
                        *ngIf="
                        !!signUpForm.get('Password.confirmPassword').errors
                            ?.required &&
                        signUpForm.get('Password.confirmPassword').touched
                        "
                    >
                        {{ "validation.ConfirmPasswordIsRequired" | translate }}
                    </span>
    
                    <span
                        *ngIf="
                        !!signUpForm.get('Password').errors?.invalid &&
                        signUpForm.get('Password').touched &&
                        signUpForm.get('Password.password').valid &&
                        signUpForm.get('Password.confirmPassword').valid
                        "

                    >
                        {{ "validation.PasswordDoesNotMatch" | translate }}
                    </span>
                    </div>
                </div>
                </div>
                <!-- <div class="row form-group justify-content-center text-center">
                <div class="col-4">
                    <label for="mobileNumber">{{
                    "mobileNumber" | translate
                    }}</label>
                    <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="mobileNumber"
                    />
                </div>
                </div> -->
                
                <div class="row form-group justify-content-center text-center">
                <div class="col-8" >
                    <ng-select 
                    [items]="sections"
                    bindLabel="name"
                    autofocus
                    bindValue="id"
                    formControlName="section"
                    >
         </ng-select>
                </div>
                <div class="mt-2 col-12 d-flex justify-content-center flex-column">
                    <span
                    class="mb-2"
                    *ngIf="
                        !!signUpForm.get('section').errors?.required &&
                        signUpForm.get('section').touched
                    "
                    >
                    {{ "section  Is Required" | translate }}
                    </span>
                </div>
                </div>
            </nb-card-body>
            <nb-card-footer class="text-center">
            <button nbButton (click) = "onSubmit()" [disabled]='!signUpForm.valid'>add</button>
            </nb-card-footer>
        </nb-card>
</nb-layout-column>