<nb-card class="w-100">

  <form [formGroup]="form">
      <nb-card-header>
        <span class="my-2">{{title}}</span>
      </nb-card-header>
      <nb-card-body [nbSpinner] = 'loading'>
        <div class="p-4">
          <ng-container *ngFor="let field of fields">
            <div class="form-group row align-items-center" *ngIf="!field?.hidden">
              <!-- <span>{{field.value?.label}}</span> -->
              <span class="col-sm-2 col-form-label">{{field?.title}}</span>
              <div class="col-sm-6">
                <input 
                [type]='field?.type' 
                class='form-control my-2'
                [formControlName]="field?.name"
                [placeholder]="field?.placeholder"
                >
             </div>
            </div>
          </ng-container>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-center">
        <button nbButton [disabled] = '!form.valid' (click) = 'submit()'>
          save
        </button>
      </nb-card-footer>
  </form>
</nb-card>