
  <nb-layout center>
    <nb-layout-column>
          <nb-card>
              <nb-card-header class="text-center">
                <h5>{{"login" | translate}}</h5>
              </nb-card-header>
              <nb-card-body class="text-center">
                 <form class="form-group" [formGroup]="form">
                   <div class="row justify-content-center">
                     <div class="col-sm-8 form-group">
                       <input 
                       type="text" 
                       placeholder="enter a email"
                       formControlName="email"
                       class="form-control">
                     </div>
                     <div class="w-100"></div>
                     <div class="col-sm-8">
                        <input 
                        type="password" 
                        placeholder="enter a password"
                        class="form-control"
                        formControlName="password"
                        >
                      </div>
                   </div>
                 </form>
              </nb-card-body>
              <nb-card-footer class="text-center">
                <button  nbButton (click)="Submit()" >{{"login" | translate}}</button>
              </nb-card-footer>
          </nb-card>
    </nb-layout-column>
  </nb-layout>